<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>News Scraper MVC!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/scrape.js"></script>
	<script src="../../models/index.js"></script>
	<link rel="stylesheet" href="style.css">

<body>
	{{{ body }}}
</body>

</html>