<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>
      <center>Crypto News</center>
    </h1>

    <h2>
      <center>Stay up to date!</center>
    </h2>
  </div>
</div>
<div id="notes"></div>
<div id="articles">
  <ul>
    {{#each articles}}
    <div class="container-fluid article-container">
      <div class="card">
        <div class="card-header row">
          <div class="col-lg-10" id={{_id}}><a class="article-link" target="_blank" rel="noopener noreferrer"
              href={{url}}>{{title}}</a></div>
          <div class="col-lg-2"><a id={{_id}} class="btn btn-success save">Save Article</a></div>

        </div>
      </div>
    </div>
    {{!-- {{#unless saved}} --}}
    {{!-- {{/unless}} --}}
    {{/each}}
  </ul>
  {{!-- 
  <ul>
    {{#each articles}}
    {{#if saved}}
    {{> articles/article-block saved=false}}
    {{/if}}
    {{/each}}
  </ul> --}}

</div>



</div>